body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(133, 20, 75, 1) 60%,
    rgba(2, 0, 36, 1) 100%
  );
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
